header{
    height: 80px;
    background-color: blueviolet;
    text-align: center;
}

footer{
    height: 80px;
    background-color: blueviolet;
    margin-top: 500px;
    text-align: center;
}

body{
    margin: 0;
}